<div class="rating-new">
  <h1><%= t('ratings.newpage') %> '<%= @product.title %>'</h1>

  <%= simple_form_for :rating, :url => product_ratings_path(@product) do |f| %>
    <%= render 'form', :f => f %>
  <% end %>
</div>
